{# src/AppBundle/Resources/views/Article/show.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block blog_body %}

    <h2>{{ article.title }}</h2>

    <h3>{{ article.author }}</h3>

    <h4>{{ article.date|date('Y-m-d')  }}</h4>

    <p>{{ article.content }}</p>

    {%  for tag  in article.tags %}

        <a href="{{ path('app_article_article_list', {'tag': tag.name}) }}"><h5>{{ tag.name }}</h5></a>

    {% endfor %}

{% endblock %}