{# src/AppBundle/Resources/views/Default/index.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block page_title %}
    Accueil {{ parent() }}
{% endblock %}


{% block blog_body %}

{% for article in Articles %}

    <div class="row">

        <div class="col-md-12" style="border: solid 2px; border-radius: 31px 31px 31px 31px;
-moz-border-radius: 31px 31px 31px 31px;
-webkit-border-radius: 31px 31px 31px 31px; margin-bottom: 50px">

        <a href="{{ path('app_article_article_show', {'id': article.id}) }}">

            <h2>{{ article.title }} </h2>

        </a>

        <h3>{{ article.author }}</h3>

        <h4>{{ article.date|date('Y-m-d')  }}</h4>

        {%  for tag  in article.tags %}

            <a href="{{ path('app_article_article_list', {'tag': tag.name}) }}"><h5>{{ tag.name }}</h5></a>

        {% endfor %}

        </div>

    </div>

{% endfor %}

{% endblock %}